@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	font-family: 'Nanum Gothic', sans-serif;
}

body{
	padding: 0;
	margin: 0;
}

.main_view{
	font-size: 14px;
}

.head-area{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.4);
}