@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	font-family: 'proxima nova', helvetica, arial, 'AppleGothic', 'spoqa', 'NanumSquare', 'Nanum Gothic', dotum, sans-serif;
}

body{
	padding: 0;
	margin: 0;
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	opacity: .7;
}

.main_view{
	font-size: 14px;
}

.head-area{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 60px;
	text-align: right;
	z-index: 1;
	background-color: rgba(0,0,0,0.4);
}

.head-login-area{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	left: 0; right: 0; top: 0; bottom: 0;
	background-color: rgba(0,0,0,0.6);
}


.head-action-login{
	display: inline-flex;
	justify-content: space-between;
	width: 300px;
	height: 100%;
}

.head-action-login > div{
	color: white;
	font-size: 14px;
	margin: auto;
}	

#head-login-form{
	background-color: white;
	max-width: 600px;
	margin: 5% auto;
}

.container{
	max-width: 600px;
}

.main-slider{
	position: relative;
	width: 100%;
	height: 600px;
	background-size: cover;
	background-image: url(https://d24govhj3346bb.cloudfront.net/home/8d3bf5a0-ffd6-11e6-a25d-5d4d0310499c.jpg);
}

.main-search-bar{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}

.main-search-area{
	max-width: 1000px;
	width: 100%;
	height: 100%;
	margin: auto;
}

.main-search-form{
	display: inline-flex;
	justify-content: space-between;
	height: 100%;
	margin: auto;
}

.main-search-form > div{
	display: inherit;
	height: 40px;
	background-color: white;
	margin: auto;
}

.main-search-where{
	width: 430px;
	border-radius: 3px 0 0 3px;
	border-right: 1px solid #A9A9A9;
}

.main-search-when{
	width: 200px;
	border-right: 1px solid #A9A9A9;
}

.main-search-type{
	width: 200px;
}

.main-search-btn{
	width: 120px;
	border-radius: 0 3px 3px 0;
	background-color: #495057 !important;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.main-search-btn:hover{
	cursor: pointer;
	background-color: #393939 !important;
}